.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    
    color: white;
    background-color:#f79838 ;
   
  
}
.menu_bar{font-size: 24px;}
.brand_name_text {
    display: inline-block;
    margin: 10px;
    
}

.item {
    flex-grow: 1;
    margin: 10px 20px;
}

.menu_item_2 span {
    float: right;margin-top: 5px;

    
}

.menu_links{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    
   margin: 0px 0px 2px 0px ;
    background-color:#f79838 ;
}
.menu_links a{
    text-decoration: none;
    color: white;
    flex-grow: 1; 
    text-align: center;
    padding: 10px;
   
}
.menu_links a:hover{

   box-shadow: 0px -2px 0px 0px white inset;
}
.search{border-radius: 10px; border-color: #f79838;padding: 5px;}